.section_2 h1 {
    margin-top: 5%;
    margin-bottom: 5px;
}

.section_2_div {
    padding: 50px 30px;
}

.section_2_div input{
    width: 250px;
    display: inline-block;
}

.section_2_div input {
    margin: 10px;
    margin-bottom: 10px;
}

button{
    width: 100px;
}