<link rel="stylesheet" type="text/css" href="{{url_for("static",
filename="css/buscarAdmin.css")}}"> {% extends './layout.html' %} {% block
section_2 %}




<h1>Buscar Cliente Final</h1>

<!-- PARA BUSQUEDA -->
<form class="buscar" action="" method="POST">
  <!--DOCUMENTO BUSCAR-->
  <input
  type="text"
  class="form-control"    
  placeholder="Ingresar Numero"    
  name="doc_buscar"
  id=doc
/>
<input type="submit" class="btn btn-primary" name="buscar" value="Buscar">
</form>

<form action="/buscarClienteFinal" , method="POST">
  <div class="section_2_div">
    
    <!-- INPUT NOMBRE -->
    {% if datos %}
      <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      name="nombre"
      value="{{datos[0].nombre_CF}}"
      />
    {% else %}
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        name="nombre"
      />
    {% endif %}
    
    
    <!-- INPUT APELLIDO -->
    {% if datos %}
    <input
      type="text"
      class="form-control"
      placeholder="Apellido"
      name="apellido"
      value="{{datos[0].apellido_CF}}"
    />
    {% else %}
    <input
      type="text"
      class="form-control"
      placeholder="Apellido"
      name="apellido"
    />
    {% endif %}
    
    <!-- INPUT GENERO -->    
    {% if datos %}
    <input
    type="text"
    class="form-control"
    placeholder="Genero"
    name="genero"
    value="{{datos[0].genero_CF}}"
  />
    {% else %}
    <input
      type="text"
      class="form-control"
      placeholder="Genero"
      name="genero"      
    />
    {% endif %}

    <!-- INPUT DOCUMENTO -->
    {% if datos %}
      <input
      type="text"
      class="form-control"
      placeholder="Documento"
      name="documento"
      value="{{datos[0].documento_CF}}"
      />
    {% else %}
      <input
        type="text"
        class="form-control"
        placeholder="ID"
        name="documento"
      />
    {% endif %}    

    <!-- INPUT DIERECCION -->
    {% if datos %}
    <input
      type="text"
      class="form-control"
      placeholder="Direccion"
      name="direccion"
      value="{{datos[0].direccion_CF}}"
    />
    {% else %}
    <input
    type="text"
    class="form-control"
    placeholder="Direccion"
    name="direccion"    
  />
    {% endif %}

    <!-- INPUT EMAIL -->    
    {% if datos %}
    <input
    type="email"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="Enter email"
    name="email"
    value="{{datos[0].email_CF}}"
  />
    {% else %}
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      name="email"      
    />
    {% endif %}

    <!-- INPUT TELEFONO -->    
    {% if datos %}
    <input
    type="text"
    class="form-control"
    placeholder="Numero telefonico"
    name="telefono"
    value="{{datos[0].telefono_CF}}"
  />
    {% else %}
    <input
      type="text"
      class="form-control"
      placeholder="Numero telefonico"
      name="telefono"      
    />
    {% endif %}

    <!-- INPUT CEL -->    
    {% if datos %}
    <input
    type="text"
    class="form-control"
    placeholder="Numero celular"
    name="cel"
    value="{{datos[0].cel_CF}}"
  />
    {% else %}
    <input
      type="text"
      class="form-control"
      placeholder="Numero celular"
      name="cel"      
    />
    {% endif %}
  </div>
  <!-- BOTONES  -->
  <input type="submit" class="btn btn-primary" name="editar" value="Editar">
  <input type="submit" class="btn btn-primary" name="eliminar" value="Eliminar">
</form>

<form class="btn_Eli_Edi" action="">
  
</form>



{% endblock section_2 %}
