<link rel="stylesheet" type="text/css" href="{{url_for("static",
filename="css/crearAdmin.css")}}"> 


{% extends './layout.html' %}
{% block section_2 %}

<h1>Crear Cliente Final</h1>

<!-- INPUT NOMBRE -->
<form method="POST">
  <div class="section_2_div">
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      name="nombre"
    />

    <!-- INPUT APELLIDO -->
    <input
      type="text"
      class="form-control"
      placeholder="Apellido"
      name="apellido"      
    />

    <!-- INPUT GENERO -->
    <input
      type="text"
      class="form-control"
      placeholder="Genero"
      name="genero"      
    />

    <!-- INPUT DOCUMENTO -->
    <input
      type="text"
      class="form-control"
      placeholder="Numero documento"
      name="documento"      
    />
    
    <!-- INPUT DIERECCION -->
    <input
      type="text"
      class="form-control"
      placeholder="Direccion"
      name="direccion"
    />

    <!-- INPUT EMAIL -->
    <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
      />

    <!-- INPUT TELEFONO -->
    <input
      type="text"
      class="form-control"
      placeholder="Numero telefonico"
      name="telefono"
    />

    <!-- INPUT CEL -->
    <input
      type="text"
      class="form-control"
      placeholder="Numero celular"
      name="cel"
    />
    <!-- INPUT CARGO -->
    <input
      type="text"
      class="form-control"
      placeholder="Cargo a ocupar"
      name="cargo"
    />
    <!-- INPUT CLAVE -->
    <input
      type="text"
      class="form-control"
      placeholder="Clave"
      name="clave"
    />
  </div>
  <input type="submit" class="btn btn-primary" name="ingresar" value="Ingresar">  

</form>


{% endblock section_2 %}