<link rel="stylesheet" type="text/css" href="{{url_for("static",
filename="css/crearAdmin.css")}}"> 


{% extends "./layout.html" %}
{% block section_2 %}

<h1>Crear Producto</h1>

<!--  INPUT MARCA -->
<form method="POST">
    <div class="section_2_div">
    <input
        type="text"
        class="form-control"
        placeholder="Marca"
        name="marca"
    />

        <!-- INPUT NOMBRE -->
        <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        name="nombre"   
    />

    <!-- INPUT CODIGO -->
    <input
        type="text"
        class="form-control"
        placeholder="Codigo"
        name="codigo"   procesador codigo  
    />

    <!-- INPUT COLOR -->
    <input
        type="text"
        class="form-control"
        placeholder="Color"
        name="color"      
    />
    
    <!-- INPUT PROCESADOR -->
    <input
        type="text"
        class="form-control"
        placeholder="Procesador"
        name="procesador"
    />
    
    <input type="submit" class="btn btn-primary" name="ingresar" value="Ingresar">


</form>



{% endblock section_2 %}
